@page "/POSHome";

@using SystemPOS.Client.Services;
@inject iPosServices iPosServices
@inject NavigationManager navigate
@inject Blazored.SessionStorage.ISyncSessionStorageService sessionStorage
@inject IJSRuntime JS

<h3>POSHome</h3>



@code {

}
